.about {
  padding: 0 3em;
};

.about-title {
  color: $english-green;
  font-family: $family-secondary;
  margin-top: 1.5rem;
  text-align: center;
};

.about-subtitle {
  color: $medium-turquoise;
};

.about-summary {
  padding: 0 15%;
};