.country-container {
  h3 {
    font-size: 3rem !important;
  };
};

.table {
  background-color: $mint-cream;
  margin: auto;
  th {
    vertical-align: middle;
  };
};

.reviews-title {
  margin-bottom: 3.5rem !important;
};