.country-container {
  h3 {
    font-size: 3rem !important;
  };
  padding: 0 2rem;
};

.table-container {
  overflow: auto;
};

.table {
  background-color: $mint-cream;
  margin: auto;
  th {
    vertical-align: middle;
  };
};

.reviews-list {
  margin: 3.5rem 0 !important;
};