.navbar {
  background-color: $pastel-red;
  position: fixed !important;
  width: 100%;
};

a.navbar-item:hover {
  background-color: transparent;
}

.company-icon {
  color: $mint-cream;
  font-family: $family-secondary;
  font-size: $size-2;
};