.location-columns {
  margin: 2.5em 0 !important;
};

.region-square {
  position: relative;
};

.region-square:hover .location-name-overlay{
  background-color: hsla(188, 56%, 23%, .45);
}

.location-name-overlay {
  height: 93.5%;
  left: 2.9%;
  position: absolute;
  right: 0;
  top: 2.9%;
  width: 93.5%;
  z-index: 1;
};

.location-name {
  color: $mint-cream;
  font-family: $family-secondary;
  left: 0;
  position: absolute;
  right: 0;
  top: 40%;
};


@media only screen and (max-width: 768px) {
  .location-name-overlay {
    height: 94%;
    left: 2.8%;
    top: 2.8%;
    width: 94%;
  };

  .location-name {
    font-size: 4em !important;
  };
};

@media only screen and (max-width: 547px) {
  .location-name {
    font-size: 2.5em !important;
  };
};

@media only screen and (max-width: 414px) {
  .location-columns {
    display: block;
  };

  .region-square {
    width: 100% !important; 
  };
};