@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,600,700');


// import defined variables
@import './variables';

// import Bulma's sass (contains all Bulma's styles for every component, layout, etc.)
@import '../node_modules/bulma/bulma.sass';


// =========== global styles =================
a {
  color: $english-green;
};

a:hover {
  color: $medium-turquoise;
};

// pushes components down to account for fixed navbar
.component-container {
  padding-top: 4rem; 
};

.column,
.subtitle {
  text-align: center;
};

// centers images
.image {
  margin: auto;
};

h3 {
  color: $medium-turquoise;
  font-family: $family-secondary;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
};

// for forms
.label {
  text-align: left;
};

.input,
.textarea {
  border: 1px solid $medium-turquoise;
  border-radius: 6px;
};

.input:hover,
.textarea:hover {
  border-color: $english-green;
};

.button.is-primary:hover,
.button.is-light:hover {
  background-color: $english-green;
  color: $mint-cream;
};

// import partial scss files
@import './navbar';
@import './carousel';
@import './about';
@import './regionsquare';
@import './region';
@import './country';
@import './review';
@import './userauth';
@import './profile';
@import './footer';

