@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,600,700');


// import defined variables
@import './variables';

// import Bulma's sass (contains all Bulma's styles for every component, layout, etc.)
@import '../node_modules/bulma/bulma.sass';


// =========== global styles =================
a {
  color: $english-green;
};

a:hover {
  color: $medium-turquoise;
};

// pushes components down to account for fixed navbar
.component-container {
  padding-top: 4rem; 
};

.column {
  text-align: center;
};

.image {
  margin: auto;
};

.subtitle {
  text-align: center;
};

// import partial scss files
@import './navbar';
@import './carousel';
@import './about';
@import './regionsquare';

